@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

:root{
    --dark-color: #0a1b2f;
}

body{
    margin: 0;
    background-color: #e4eaf1;
    color: rgb(37, 35, 35);
    font-family: 'Montserrat', sans-serif;

}


.hero{
    background-image: url('images/Benedict-Cumberbatch-2014.jpg');
    background-size: cover;
    height: 730px;
}

.hero::before{
    content: linear-gradient(#fff0,#0008);
    height: 750px;
    z-index: 2;
}

.hero h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: -150px;
    font-size: 6rem;
    text-align: center;
    z-index: 5;
}

h2, h3 {
    text-align: center;
    color: white;
    background-color: var(--dark-color);
    margin: 0;
    padding: 20px;
}

p{
    padding: 5px 80px;
    text-align: justify;
}

button {
    border: 0;
    color: white;
    background-color: var(--dark-color);
    padding: 10px 20px;
    margin: 10px 45% 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2rem;
}

button:hover{
    background-color: #154378;
}

ul, ol{
    list-style: none;
    text-align: center;
    padding: 30px;
}

ol{
    padding-top: 20px;
}

ul li{
    display: inline;
    margin: 0 5px;
    padding: 10px 20px;
    border: 2px solid var(--dark-color);
    border-radius: 2rem;
    font-size: 16px;
}

ol li{
    padding: 5px;
}

#four{
    font-size: 17px;
}

#three {
    font-size: 30px;
}

#two {
    font-size: 40px;
}

#one {
    font-size: 50px;
    font-weight: 700;
}

/* MOVIES PAGE */

.inner-hero{
    background-image: linear-gradient(to bottom,#fff0,#0008),url('images/Benedict-Cumberbatch-2014.jpg');
    background-size: cover;
    height: 400px;
}

.inner-hero h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    position: relative;
    top: 335px;
    margin-top: 0;
}

.flex-section{
    padding: 90px 50px 40px;
    background-color: var(--dark-color);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-container div:nth-child(3){
    order: 5;
}

.flex-item:first-of-type{
    order: 2;
}
.flex-item:nth-of-type(2){
    order: 3;
}

.flex-item img{
    width: 250px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 5px #b8b5b5;
}

.table-section{
    padding: 30px;
}

/* NAVBAR */

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #111828;
    align-items: center;
    padding: 0 30px;
}

.nav-logo img{
    width: 80px;
    background-color: #e4eaf1;
    border-radius: 5px;
    margin: 5px 0;
}

.nav-links{
    padding: 0;
}

.nav-links li{
    border: 0px;
}

.nav-links li>a{
    text-decoration: none;
    color: whitesmoke;
}

/* FOOTER */

footer{
    display: flex;
    background-color: var(--dark-color);
    color: whitesmoke;
    justify-content: space-around;
}

footer div:first-child{
    align-self: center;
    background-color: #e4eaf1;
    border-radius: 5px;
}

footer img{
    width: 120px;
    padding: 5px;   
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

footer a:hover{
    color: aqua;
}

.footer-links a::before{
    content: "> ";
}    

footer ul{
    padding: 0;
}

footer ul li{
    border: 0;
    display: block;
    text-align: start;
}

/* FEEDBACK */
.form-section{
    padding: 90px 50px 30px;
    background-color: var(--dark-color);
}

form{
    background-color: #e4eaf1;
    padding: 20px;
    border-radius: 10px;
}